.TopNav_container {
  width: 100%;
  max-width: 1600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
}

.flexer{
    width: 75%;
    margin: auto;
    justify-content: space-between;
}

.imageContainer {
  height: 100%;
  margin: 5px 10px;
  width: 10%;
  padding: 0;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.mid_container {
  width: 43%;
}

.mid_container ul {
  display: flex;
  justify-content: space-between;
}

.mid_container ul li {
  list-style: none;
  padding: 2px 4px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}


.login_container{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.login_container button{
    border-radius: 20px;
}

.hamburger_container{
  display: none;
}

@media only screen and (max-width:780px) and (min-width:481px){
  .mid_container{
    display: none;
  }

  .TopNav_container {
    height: 5rem;
  }

  .imageContainer {
    height: 90%;
    margin: 5px ;
    width: 20%;
  }

  .hamburger_container{
    display: block;
  }

  .hamburger_container svg{
      font-size: 26px;
      color: rgb(227, 3, 93);
  }

  .hamburger_container button{
    width: 100%;
  }

  .flexer{
    width: 100%;
    margin-left: 20px;
    justify-content: flex-start;
  }
  
  .profile_contianer{
    width:20%;
    position: absolute;
    right: 0px;
  }

  .login_container{
    max-width: 300px;
    position: absolute;
    right: 40px
  }
  .login_container button{
    border-radius: 20px;
    margin: 10px;
    padding: 4px 10px;
}
}


@media only screen and (max-width:480px) and (min-width:280px){
  
  .imageContainer{
    display: none;
  }
  .mid_container{
    display: none;
  }

  .TopNav_container {
    height: 5rem;
  }

  .imageContainer {
    height: 90%;
    margin: 5px ;
    width: 20%;
  }

  .hamburger_container{
    display: block;
  }

  .hamburger_container svg{
      font-size: 26px;
      color: rgb(227, 3, 93);
  }

  .hamburger_container button{
    width: 100%;
  }

  .flexer{
    width: 100%;
    margin-left: 20px;
    justify-content: flex-start;
  }
  
  .profile_contianer{
    width:20%;
    position: absolute;
    right: 0px;
  }

  .login_container{
    max-width: 300px;
    position: absolute;
    right: 60px
  }
  .login_container button{
    border-radius: 20px;
    margin: 10px;
    padding: 4px 10px;
}
}